<% include partials/header %>
    <div class="body-wrapper">
        <h1>Contact Us</h1>
        <form id="contact-us" method="POST" action="/contact">
            <label for="contactName">Name</label>
            <input type="text" name="contactName">
            <button type="submit">Submit</button>
        </form>
    </div>
<% include partials/footer %>