<% include partials/header %>
    <div class="body-wrapper">
        <h1>Node Test</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt facilis reprehenderit, at debitis itaque quisquam neque optio molestiae nihil a sint voluptatibus officiis, aut, animi similique saepe unde perspiciatis dolores.
        </p>
    </div>
<% include partials/footer %>