<% include partials/header.ejs %>
<h1>Posts</h1>
<ul>
    <% data.forEach((item) => { %>
        <li><span><strong>Id: </strong><%= item.id %>,</span><span><strong>Title: </strong><%= item.title %>,</span><span><strong>Body: </strong><%= item.body %></span></li>
    <% }) %>
</ul>

<% include partials/footer.ejs %>