h1{
    margin: 0;
    padding: 0;
    color: dodgerblue;
    text-align: center;
}

#createPost{
    display: none;
}

.header-nav{
    height: 60px;
    background-color: springgreen;
}

.header-nav li {
    padding: 20px 20px;
    color: white;
    list-style: none;
    display: inline-block;

}

.header-nav li a:link{
    text-decoration: none;
}

.body-wrapper{
    margin: auto;
    width: 80%;
    border:  3px solid grey;
    padding: 3em;
}